@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #000;
    line-height: 20px;
    font-weight: normal;
    background: #fff;
    margin: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

.clr {
    clear: both;
}

.master {
    width: 100%;
}

/*Global Style Start Here*/

.no-pd {
    padding-left: 0px;
    padding-right: 0px;
}


/*Global Style Ends Here*/


/*Header Style Start Here*/

.header {
    width: 100%;
    background-color: #5b9bd5;
}

.header .logo {
    width: 100%;
    padding: 11px 0px 15px;
}

.header-top {
    width: 100%;
    float: right;
    padding-left: 80px;
}

.header-top ul li {
    display: inline-block;
    list-style: none;
    padding: 22px 10px 15px;
    font-family: 'Avenir LT Std 35';
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
}

.header-top ul li:nth-last-of-type(4),
.header-top ul li:nth-last-of-type(6) {
    color: #b3cde9;
}

.header-top ul li:nth-last-of-type(1) {
    padding-right: 0px;
}

.header-top ul li a {
    color: #fff;
    text-decoration: none;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.header-top ul li a:hover {
    color: #5a3482;
}

.header .header-bottom {
    width: 100%;
    display: inline-block;
}

.navbar {
    margin-bottom: 0px;
}

.header .header-bottom ul {
    width: 100%;
}

.header .header-bottom ul li {
    list-style: none;
}

.header .header-bottom ul li a {
    font-family: 'Avenir';
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 12px 41px;
    display: inline-block;
    text-decoration: none;
    color: #fff;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.header .header-bottom ul li a:hover {
    color: #5a3482;
}

.header .header-bottom ul li:nth-last-of-type(1) a {
    padding-right: 0px;
}

.header .header-bottom ul li:nth-last-of-type(6) a {
    padding-left: 0px;
}


/*Header Style Ends Here*/


/*Menu Style Start Here*/

.menu {
    background-color: #3d77ac;
    border-top: 3px solid #1c3850;
    width: 100%;
}

.menu .menu-drop-down {
    padding-left: 41px;
}

.menu .menu-drop-down ul {
    width: 100%;
}

.menu .menu-drop-down ul li {
    list-style: none;
}

.menu .menu-drop-down ul li a {
    color: #fff;
    padding: 20px 34px 24px;
    text-decoration: none;
    font-family: 'Avenir';
    font-size: 14px;
    font-weight: 900;
    line-height: 14px;
    border-right: 1px solid #8eb0cf;
    display: inline-block;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.menu .menu-drop-down ul li a:hover {
    color: #5a3482;
}

.menu .menu-drop-down ul li:nth-last-of-type(1) a {
    border-right: none;
}

.menu .menu-drop-down ul li a span {
    font-family: 'Avenir Book';
    font-weight: normal;
}

/*Menu Style Ends Here*/

/*Banner Style Start Here*/

.banner {
    width: 100%;
    padding-bottom: 72px;
}

.banner img {
    width: 100%;
}

/*Banner Style Ends Here*/

/*lackfront-group Style Start Here*/

.lackfront-group {
    background-color: #fff;
    width: 100%;
    padding-bottom: 250px;
}

.lackfront-group .lackfront-group-img {
    position: relative;
}

.lackfront-group .lackfront-group-img img {
    width: 100%;
}

.lackfront-group .lackfront-group-text {
    position: absolute;
    top: 19%;
    left: 32%;
    background-color: #fff;
    width: 600px;
    height: 779px;
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 50px 38px 45px;
}

.lackfront-group .lackfront-group-text img {
    display: inline-block;
    float: left;
    padding-bottom: 40px;
}

.lackfront-group .lackfront-group-text h1 {
    color: #5a3482;
    font-family: 'Avenir-Book';
    font-size: 30px;
    line-height: 44px;
    display: inline-block;
    width: 78%;
    margin: 0px;
    text-transform: uppercase;
    padding-left: 14px;
    padding-bottom: 46px;
}

.lackfront-group .lackfront-group-text span {
    font-family: 'Avenir';
    font-size: 72px;
    font-weight: 500;
    line-height: 72px;
    display: inline-block;
    color: #000;
    float: left;
    width: 15%;
}

.lackfront-group .lackfront-group-text p {
    font-family: 'Avenir-Book';
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    color: #363636;
    padding-bottom: 43px;
    margin: 0px;
}

.lackfront-group .lackfront-group-text a {
    font-family: 'Avenir';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 23px 45px;
    color: #fff;
    background-color: #5b9bd5;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.lackfront-group .lackfront-group-text a:hover {
    background-color: #5a3482;
}


/*lackfront-group Style Ends Here*/


/*Help Style Start Here*/

.help {}

.help .help-info {
    padding: 64px 0px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.help .help-info a i {
    font-size: 28px;
    color: #000;
    line-height: 25px;
}

.help .help-info h4 {
    font-family: 'Avenir LT Std 35';
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    display: inline-block;
    margin: 0px;
    padding-left: 15px;
    padding-right: 25px;
}

.help .help-info .plus-on {
    font-family: 'Avenir';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 23px 45px;
    color: #fff;
    background-color: #5b9bd5;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-right: 15px;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.help .help-info .plus-on:hover {
    background-color: #5a3482;
}

/*Help Style Ends Here*/

/*Lakefront Counseling Style Start Here*/

.counseling {
    padding: 170px 0px 90px;
    width: 100%;
}

.counseling-img img {
    width: 100%;
}

.counseling-text {
    width: 100%;
}

.counseling-text h3 {
    font-family: 'Avenir-Book';
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 0px;
}

.counseling-text span,
.email-update span {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}

.counseling-text p {
    font-family: 'Avenir-Book';
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: #363636;
    padding-bottom: 20px;
    margin: 0px;
}

.counseling-text ul {
    display: inline-block;
    padding-right: 40px;
}

.counseling-text ul li {
    list-style: none;
    padding: 15px 0px;
    font-family: 'Avenir-Book';
    font-size: 18px;
    font-weight: 400;

}

.counseling-text ul li i {
    color: #bababa;
    padding-right: 5px;
}

/*Lakefront Counseling Style Ends Here*/


/*email-update Style Start here*/

.email-update {
    padding: 50px 0px 100px;
}

.email-update h2 {
    font-family: 'Avenir-Book';
    font-size: 29px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin: 0px;
}

.email-update p {
    font-family: 'Avenir-Book';
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    color: #363636;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 0px;
}

.email-update input[type="text"],
.email-update input[type="email"] {
    width: 100%;
    max-width: 509px;
    height: 45px;
    padding: 15px 0px 15px 10px;
    margin-bottom: 21px;
    background-color: #e6e6e6;
    border: none;
    font-family: 'Avenir-Book';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.email-update input[type="email"] {
    margin-bottom: 10px;
}

.email-update input[type="checkbox"] {
    margin-right: 12px;
}

.email-update h3 {
    font-family: 'Avenir-Book';
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    color: #000;
    padding-left: 10px;
}

.email-update ul {
    display: inline-block;
    padding-right: 25px;
}

.email-update ul li {
    font-family: 'Avenir-Book';
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: #000;
    padding-left: 10px;
    list-style: none;
}

.email-update a {
    width: 179px;
    height: 53px;
    display: inline-block;
    text-align: center;
    color: #92b9e1;
    border: 1px solid #5b9bd5;
    border-radius: 4px;
    padding: 14px 0px;
    text-decoration: none;
    margin-top: 25px;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.email-update a:hover {
    background-color: #5b9bd5;
    color: #fff;
}


/*email-update Style Ends here*/

/*counseling-services Style Start Here*/

.counseling-services,
.our-service,
.therapists,
.contact,
.location {
    padding: 50px 0px 100px;
}

.counseling-services-box,
.our-service-box,
.therapists-box,
.location-box {
    width: 100%;
    position: relative;
}

.counseling-services-box::after,
.our-service-box::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: -44px;
    left: 0px;
    background: url(../images/top-border-line-img.png) no-repeat center;
    z-index: 99;
}


.counseling-services span,
.our-service span,
.therapists span,
.contact span,
.location span {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.counseling-services h2,
.our-service h2,
.therapists h2,
.contact h2,
.location h2 {
    font-family: 'Avenir';
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    color: #000;
    padding-bottom: 60px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}

.counseling-services .counseling-services-img,
.our-service .our-service-img,
.location-box-img {
    display: inline-block;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    height: 600px;
    position: relative;
}

.counseling-services-img::after,
.our-service .our-service-img::after {
    content: "";
    position: absolute;
    top: -45px;
    width: 100%;
    height: 45px;
    background: url(../images/line-top-img.png) no-repeat center;
    z-index: 99;
    text-align: center;
}

.therapists .therapists-box-img::after,
.location-box-img::after {
    content: "";
    position: absolute;
    top: -45px;
    width: 1px;
    height: 45px;
    background: url(../images/line-top-img.png) no-repeat center;
    z-index: 99;
    text-align: center;
    left: 227px;
}

.counseling-services .counseling-services-img > img,
.our-service .our-service-img > img,
.therapists .therapists-box-img > img,
.location-box-img > img {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.counseling-services-text,
.our-service-text,
.therapists-box-text,
.location-box-text {
    padding: 0px 22px 0px 22px;
}

.counseling-services-text h3,
.our-service-text h3,
.therapists-box-text h3 {
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 5px;
    margin: 0px;
    color: #5b9bd5;
    text-transform: uppercase;
}

.counseling-services-text img,
.our-service-text img,
.therapists-box-text img {
    padding-bottom: 15px;
    display: inline-block;
}

.counseling-services-text p,
.our-service-text p,
.therapists-box-text p {
    font-family: 'Avenir-Book';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    color: #000;
}


/*counseling-services Style Ends Here*/


/*.therapists style Start Here */

.therapists .therapists-box-img {
    display: inline-block;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    height: 600px;
    position: relative;
}

.therapists-box::after,
.location-box::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: -44px;
    left: 0px;
    background: url(../images/therapists-box-top-img.jpg) no-repeat center;
    z-index: 99;
}

/*.therapists style Ends Here */


/**/

.location-box-text {
    padding: 46px 0px 0px 36px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.location-box-img {
    height: 344px;
}

.location-box-text h3 {
    font-family: 'Avenir';
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    padding-bottom: 15px;
    margin: 0px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.location-box-text p {
    font-family: 'Avenir LT Std 35';
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    padding-bottom: 20px;
    margin: 0px;
    color: #fff;
    letter-spacing: 1px;
}

.location-box-text .second-p {
    padding-bottom: 59px;
}

.location-box-text a {
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    padding: 15px 23px;
    margin: 0px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    background-color: #2e74b5;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.location-box-text a:hover {
    background-color: #5b9bd5;
}

/**/


/**/

.contact {
    text-align: center;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    height: 45px;
    padding: 15px 0px 15px 10px;
    margin-bottom: 21px;
    background-color: #e6e6e6;
    border: none;
    font-family: 'Avenir-Book';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
}

.contact .small-input {
    max-width: 240px;
    margin-right: 10px;
}

.contact input:nth-last-of-type(1) {
    margin: 0px;
}

.contact button {
    width: 200px;
    height: 53px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #5b9bd5;
    border: 1px solid #5b9bd5;
    border-radius: 4px;
    padding: 14px 0px;
    text-decoration: none;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.contact button:hover {
    background-color: #fff;
    color: #5b9bd5;
}

.contact textarea {
    height: 155px;
}


/**/

/*footer Style Start Here*/

.footer {
    background: url(../images/footer.jpg) no-repeat center;
    background-size: cover;
    padding: 35px 0px 58px;
}

.footer-top {
    border-left: 1px solid #a0c4e3;
    border-bottom: 1px solid #a0c4e3;
    width: 100%;
    display: inline-block;
    padding-left: 10px;
}

.footer-top ul li {
    display: inline-block;
    list-style: none;
}

.footer-top ul li a {
    padding: 30px 26px 22px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Avenir';
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    margin: 0px;

    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.footer-top ul li a:hover {
    color: #000;
}

.footer-top ul li:nth-last-of-type(1) a {
    padding-right: 0px;
}

.footer-middle {
    border-left: 1px solid #a0c4e3;
    border-bottom: 1px solid #a0c4e3;
    width: 100%;
    display: inline-block;
    margin-top: -4px;
}

.footer-middle-box {
    padding: 37px 0px 0px 18px;
    height: 425px;
    width: 100%;
    max-width: 223px;
    display: inline-block;
    float: left;
}

.footer-middle .footer-middle-box:nth-last-of-type(1),
.footer-middle .footer-middle-box:nth-last-of-type(2),
.footer-middle .footer-middle-box:nth-last-of-type(3),
.footer-middle .footer-middle-box:nth-last-of-type(4) {
    border-left: 1px solid #a0c4e3;
}

.footer-middle-box h3 {
    padding-bottom: 18px;
    font-family: 'Avenir';
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    color: #d0dff0;
    margin: 0px;
    position: relative;
}

.footer-middle-box h3::after {
    content: "";
    width: 12px;
    height: 1px;
    position: absolute;
    top: 9px;
    left: -18px;
    background: url(../images/fooer-line-img.png) no-repeat left;
}

.footer-middle-box ul li {
    display: block;
    list-style: none;
    padding-bottom: 11px;
    font-family: 'Avenir-Book';
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
}

.footer p {
    padding: 22px 0px 18px;
    font-family: 'Avenir LT Std 35';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    margin: 0px;
}


/*footer Style Ends Here*/

/* End CSS */
